.home-container {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
  border: 2px solid #f00;
}
