$color-text-primary: #e9edef;
$color-text-secondary: #778287;
$color-viewed-message: #53bdeb;
$color-delivered-message: #8696a0;
$color-icon: #aebac1;
$color-gray-border: #222d34;
$colorGreenArrow: #06a482;
$color-green-message: #005c4b;
$color-dark-background-1: #202c33;
$color-dark-background-2: #111b20;
$color-dark-background-3: #2a3942;
$color-dark-background-4: #0b141a;

.profile-container,
.chat-container .header-container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.sidebar-container .profile-container .name,
.chat-container .header-container .info-container .name {
  color: $color-text-primary;
}
.sidebar-container .profile-container,
.chat-container .header-container {
  background-color: $color-dark-background-1;
}

.profile-picture {
  // width: 50px;
  // height: 50px;
  // border: 1px solid #000;
  // border-radius: 50px;
  // overflow: hidden;
}
